.home-container{
    padding: 0;
    margin: 0;
}
.slide-section{
    width: 100%;
}
.currently-airing{
    margin-top: -80px;
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to top, black, rgb(5, 5, 5,0.9));
}
.section-title h1{
    font-size: 28px;
}
.section-title p{
    color: #bdbdbd;
}